<h1>Editing menu</h1>

<%= render 'form' %>

<%= link_to restaurant_menu_path(@restaurant, @menu) do %>
  <span class="glyphicon glyphicon-zoom-in"></span> Show
<% end %>
|
<%= link_to restaurant_menus_path(@restaurant) do %>
  <span class="glyphicon glyphicon-chevron-left"></span> Back
<% end %>
