<% content_for :head do %>
  <%= tag :meta, :name => "stripe-key",
          :content => ENV["STRIPE_TEST_PUBLIC_KEY"] %>
<% end %>

<div class="row">
  <div class="col-md-6">
    <%= render 'form' %>
  </div>

  <div class="col-md-6">
    <div class="side_bar">
      <%= render @cart %>
    </div>
  </div>
</div>

<%= link_to store_path(@cart.items.first.menu.restaurant.name) do %>
  <i class="glyphicon glyphicon-chevron-left"></i> Back
<% end %>
