<div class="page-header">
  <h2>About FlipOrder</h2>
</div>

<p>
  FlipOrder provides delivery for restaurants that don’t deliver food themselves.
  During the lunch hour or the dinner rush, traffic can be backed up and parking is sometimes hard to find. We offer the most convenient way for you to enjoy your favorite meals at home or at the office without getting in the car.
</p>

<p>
  Many small businesses don’t have the manpower to manage delivery on their own, which is why FlipOrder provides the technology and delivery network for our partner restaurants. We bring in additional business for them while also making life easier for the customer. It’s a win-win for everyone.
</p>