<h3>About FlipOrder</h3>

<p>
  FlipOrder was started with one goal in mind: help restaurants make it easier to deliver food. If you're interested in working with us, check out our <%= link_to "vendor page", vendor_path %>.
</p>

<br>

<h3>The Team</h3>
<p>
  <strong>Alex Yang</strong> graduated from Harvard University in 2010 and worked at the Boston Consulting Group, where he spent most of his time working with Fortune 500 companies. Interested in working with small businesses instead, he left BCG to pursue entrepreneurship and spent some time learning Ruby on Rails before building the FlipOrder website.
</p>

<p>
  <strong>Susie Ye</strong> graduated from pharmacy school at Rutgers University in 2012 and nearly jumped into a corporate life in Big Pharma before deciding to launch a business of her own instead. She loves Alex more than she's willing to admit.
</p>
