<div class="panel panel-default">
  <div class="panel-heading">
    <h3>
      How it Works:
    </h3>
  </div>

  <div class="panel-body">
    <div class="box">
      <p>
        We’re looking for superstar drivers to partner with. All you need is a vehicle and a phone to get started. When an order comes through on our website, we will notify you during your available hours. If you accept the job, you’ll get the order information and all that’s left is pick up and drop off the meals to our customers.
        <br><br>
        Approval Process:
        <br><br>
        You need to have a valid driver’s license and your own vehicle. We will contact you within 24 hours about your application. After a few sessions of training with a manager, you’ll be good to go on your own!
        <br><br>
        Getting paid:
        <br><br>
        Drivers keep 90% of the delivery fee plus all tips. We will deposit money into your account at the end of each week.
      </p>
    </div>
  </div>
</div>