<h1>Editing restaurant</h1>

<%= render 'form' %>

<%= link_to @restaurant do %>
  <i class="glyphicon glyphicon-zoom-in"></i> Show
<% end %>
|
<%= link_to restaurants_path do %>
  <i class="glyphicon glyphicon-chevron-left"></i> Back
<% end %>
