<h1>Editing item</h1>

<%= render 'form' %>

<%= link_to @item do %>
  <i class="glyphicon glyphicon-zoom-in"></i> Show
<% end %> |
<%= link_to items_path do %>
  <i class="glyphicon glyphicon-chevron-left"></i> Back
<% end %>