.carts {

  .table {
    width: 50%;
  }
  .bold {
    font-weight: bold;
  }
  .left {
    float: left;
  }
  .right {
    float: right;
  }
  .inline_block {
    display: inline;
  }
  .total_line {
    .total_cell {
      border-top: 1px solid #000000;
    }
  }

}