.carts .side_bar {

  .bold {
    font-weight: bold;
  }
  .quantity {
    width: auto;
  }
  .total_line {
    .total_cell {
      border-top: 1px solid #000000;
    }
  }

  .minus_button {
    float: left;
  }
  .plus_button {
    float: right;
  }
  .btn_margin {
    margin-top: -1px;
  }
}

// Set table width for sidebar content when not in cart view
.side_bar {
  .table {
    width: 100%;
  }
}

.carts {
  // Set table width for main content in cart view
  .table {
    width: 80%;
  }

  // Set table width for sidebar content in cart view
  .side_bar {
    .table {
      width: 100%
    }
  }
}