.orders {

 a {
	float: right;
	clear: right;
} 

legend {
	font-size: 18px;
	color: #ffae19;
	margin-bottom: 5px;
}

label {
	font-size: 13px;
	padding: 2px 0px 2px 0px;
}

.form_control {
	height: 28px;
}

.form-group {
	margin-bottom: 30px;
}

.table thead > tr > th {
	font-size: 15px;
	}

.table tbody > tr > td {
	font-size: 14px;
}

.table {
margin-bottom: 20px;
} 

.panel-default > .panel-heading {
	font-size: 18px;
}

.panel {
	margin-top: 40px;
}

.side_bar .quantity {
	padding: 5px 7px 5px 7px;
}

.total {
	padding-right: 20px;
}
.total p {
	font-size: 16px;
	text-align: right;
}
}