.orders {

 a {
	float: right;
	clear: right;
} 

legend {
	font-size: 18px;
	color: #ffae19;
	margin-bottom: 5px;
}

label {
	font-size: 13px;
}

.form_control {
	height: 28px;
}

.form-group {
	margin-bottom: 30px;
}

.table thead > tr > th {
	font-size: 15px;
	}

.side_bar .quantity {
	padding: 5px 80px 5px 90px;
}
}