.pages {
  .panel {
    width: 75%;
    margin: auto;
  }
 
  .textframe {
      padding: 21px;
      width: 85%;
      a {
        font-size: 21px;
      }
}
    .textframe p {
      font-size: 21px;
      line-height: 30px;
    }

.content-header {
  text-align: center;
}

.content-header p {
  font-size: 18px;
}

.contact-container {
  text-align: center;
  font-size: 28px;
  /*border: 1px solid #ffae19;
  border-radius: 10px;*/    
  padding: 10px; 
  width: 30%;
  float: none;
  margin: 0 auto;
}

.box p {
  font-size: 21px;
  line-height: 30px;
}

a {
  color: #ffae19;
}

h2, h3, p, a {
  font-weight: 200;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

}

