.store {

  .menu_listing_name {
    h4 {
      margin: 0% 0% 1% 0%;
    }
    p {
      margin: 0% 0% 0% 0%;
      font-size: small;
    }
  }

  .menu_listing_name span {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 0px;
  }

  .btn {
    margin: 1%;
  }

  .col-md-9
    .center {
    margin-bottom: 20px;
    margin-top: -10px;
  }

.col-md-3 .cart {
  border: none;
  margin-top: 55px;
}

  .nav-tabs.nav-justified {
    margin-bottom: 20px;
    font-size: 17px;
  }

  .nav-tabs.nav-justified > li > a:hover {
    color: #666;
  }

  .nav-tabs {
    /* border: 1px solid #dddddd; */
    border: none;
  }

  .nav-justified > li, .nav-tabs.nav-justified > li {
    border-top: none;
  }

  .nav-tabs.nav-justified > li > a {
    border: none;
  }

  .nav-tabs > li.active > a {
    background-color: #e3e3e3;
  }

  .col-md-6 a:hover {
    color: #7e7e7e;
    text-decoration: none;
  }

  .back_button {
    float: left;
    clear: left;
    margin: 20px;
  }
}