.store {

  .nav-justified {
    margin: 10px 0px;
  }

  .menu_listing_name {
    h4 {
      margin: 0% 0% 1% 0%;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-weight: 400;
    }
    p {
      margin: 0% 0% 0% 0%;
      font-size: small;
      font-weight: 200;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }
  }

  .menu_listing_name span {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 0px;
  }

  .nav-pills > li > a {
    height: 75px;
    color: #ffae19;
    font-weight: 500;
  }

  .nav-pills > li.active > a {
    color: #fff;
    background-color: #ffae19;
  }

  .nav-justified > li > a:hover {
    background-color: #ffd68c;
    color: #fff;
  }

  .btn {
    margin: 1%;
  }

  .col-md-9
    .center {
    margin-bottom: 20px;
    margin-top: -10px;
  }

.col-md-3 .cart {
  border: none;
  margin-top: 55px;
}

  .col-md-6 a:hover {
    color: #9e9e9e;
    text-decoration: none;
  }

  .back_button {
    float: left;
    clear: left;
    margin: 20px;
  }

}