<div class="center">
  <h1>
    Choose from <%= pluralize(@restaurants.count, 'restaurant') %>
  </h1>
</div>

<br>

<div class="row">

  <% cache ['store', Restaurant.latest] do %>
    <% @restaurants.each do |restaurant| %>
      <% cache ['restaurant', restaurant] do %>

        <div class="col-md-3">
          <%= link_to(image_tag(restaurant.image_url,
              class: "store_image"),
              store_path(restaurant.name)) %>

          <div class="store_name center">
            <h4><%= restaurant.name %></h4>
          </div>
          <div class="store_description center">
            <h5><%= restaurant.description %></h5>
          </div>
        </div><!-- /.col-md-3 -->

      <% end %><!-- /cache 'restaurant' -->
    <% end %><!-- /@restaurants.each -->
  <% end %><!-- /cache 'store' -->

</div> <!-- /.row -->