<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav navbar-nav footer">
        <li><%= link_to "About FlipOrder", about_path %></li>
        <li><%= link_to "Restaurant Partners", vendor_path %></li>
        <li><%= link_to "Become A Driver!", drivers_path %></li>
      </ul>
    </div>
  </div>
</div>